{% extends 'item/base.html' %}
{% load static %}
{% block content %}
	<section class="contact_banner">
		<div class="container"> 
			<div class="col-md-12">
				<div class="blog_banner">
					<img src="{{ about.image.url }}">
					<div class="banner_blog_detail">
					<!-- <span class="sub_heading">Say Hello</span> -->
					<h1 class="cont_heading">{{ about.title }}</h1>
                    <p class="cont_para">{{ about.description }}</p>
				</div>
			</div>
				</div>

	</section>
	    <section class="map__holder__contact__info">
	    	<div class="container">
	    		        <div class="cnst__wrapper__main">
            <div class="mp__frame">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7065.309773128106!2d85.31119581520285!3d27.697059500824444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb198a307baabf%3A0xb5137c1bf18db1ea!2sKathmandu%2044600!5e0!3m2!1sen!2snp!4v1567586903966!5m2!1sen!2snp" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                <div class="cont__info__box">
                    <div class="cont__info__head">
                        Any request?
                    </div>
                    <div class="cont__info__body">
                        <div class="cont__info__address">
                            {{ about.company_name }}<br/>
                            {{ about.address }}
                        </div>
                        <div class="cont__phone">
                            <strong>Phone : </strong>{{ about.contact_number }}
                        </div>
                        <div class="cont__email">
                            <strong>Email : </strong>{{ about.email }}
                        </div>
                    </div>
                    <div class="cont__info__foot">
                        <div class="cont__foot__ttl">
                            Have something to share?
                        </div>
                        <div class="cont__foot__text">
                            Feel free to contact us.
                        </div>
                    </div>
                </div>
            </div>
        </div>
	    	</div>

	</section>

{% endblock %}
{% block scripts %}
	<script>
		$("#about").addClass('active');
	</script>
{% endblock %}
