{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Good News</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon"  href="{% static 'image/favicon.png' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap" rel="stylesheet">


	<link  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

	<header class="header-area">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
				<div class="navbar-header">
						<a class="navbar-brand" href="{% url 'item:home' %}">
							<img src="{% static 'image/logo.png' %}">
						</a>
						</div>
						  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
						    <span class="navbar-toggler-icon"></span>
						  </button>

						  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
						    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
						      <li class="nav-item" id="home">
						        <a class="nav-link" href="{% url 'item:home' %}">Home</a>
						      </li>
						      <li class="nav-item" id="all">
						        <a class="nav-link" href="{% url 'item:video-list' %}">All Videos</a>
						      </li>
						    </ul>
						    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'item:search-video' %}">
						      <input class="form-control mr-sm-2" name="srh" type="search" placeholder="Search">

						      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
						        <i class="fa fa-search" aria-hidden="true"></i>
						    </button>
						    </form>
						  </div>
				</nav>
		</div>
    </header>
{% block content %}
{% endblock %}
<footer class="footer-area">
    <div class="container">
        <span class="channel-name">Good News Media Pvt. Ltd</span>
        <span class="location">Kathmandu, Nepal</span>
        <div class="row">
            <div class="col-md-6">
                <div class="copy-right-content">
                    <p>Copyright © 2019 Good News Media Pvt. Ltd. All rights reserved.</p>
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="social-media-icon">
                    <span>Follow Us:</span>

                    <a href="{{ about.facebook_link }}" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    <a href="{{ about.youtube_link }}" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
            </div>

        </div>
    </div>
</footer>
    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<script src="{% static 'js/callplayer.js' %}"></script>
	
    {% block scripts %}
    {% endblock %}
